.container {
  width: 100vw;
  height: 100vh;
  background-color: #186093;
}

.outer {
  width: 400px;
  height: 400px;
  background-color: #8D6093;
}

.inner {
  width: 200px;
  height: 200px;
  background-color: #FE6093;
}